.showcase {
  background-color: $color-gray-30;
  ._container {
    padding: 0;
    display: flex;
    justify-content: center;
    @include md {
    }
    > img {
      display: none;
      @include md {
        padding-top: 5rem;
        width: 25%;
        display: block;
      }
      @include lg {
        width: 30%;
      }
    }
    .showcase-text {
      padding: 12rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include md {
        padding: 0;
      }
      @include lg {
        width: 50%;
      }
      .showcase-header {
        font-size: $font-size-65;
        font-weight: $font-weight-extra-bold;
      }
      .showcase-p {
        display: flex;
        align-items: center;
        justify-content: center;
        @include lg {
          width: 100%;
        }
      }
    }
  }
}
